# Bloqueo total de acceso directo a archivos de base de datos y logs
<FilesMatch "\.(db|sqlite|sql|log|env|json|lock)$">
    Require all denied
</FilesMatch>

Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_authz_core.c>
    CGIPassAuth On
</IfModule>
